<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <div>
      <p><%= link_to 'Bookers', root_path %></p>
      <p>button(after)</p>
      
      <ul>
        <li><%= link_to 'Home', book_index_path %></li>
        <li><%= link_to 'Users', users_show_path %></li>
        <li><%= link_to 'Books', book_index_path %></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
      </ul>
      
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
