<%= render 'users/show', user:@user %>

<main>
    <div>
        <h2>Books</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Opinion</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <% @books.each do |book| %>
                        <th><%= @book.title %></th>
                        <th><%= @book.body %></th>
                        <th><%= paginate @books %></th>
                        <th><%= link_to 'Edit',edit_book_path(book.id) %></th>
                        <th><%= link_to 'Destroy', book_path(book.id), method: :delete %></th>
                    <% end %>
                </tr>
            </tbody>
        </table>

    </div>
</main>